---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";
import Contact from "../components/Contact.astro";
import ImageAndCopy from "../components/ImageAndCopy.astro";

const behandlungsmethoden: {
	img: { src: string; alt: string };
	copy: string;
}[] = [
	{
		img: {
			src: "/kgfotos/Behandlungsmethoden/1-Halsbehandlung-Atlastherapie-erster-Halswirbel.JPG",
			alt: "Halsbehandlung Atlastherapie erster Halswirbel",
		},
		copy: "Halsbehandlung Atlastherapie erster Halswirbel",
	},
	{
		img: {
			src: "/kgfotos/Behandlungsmethoden/2-Klassische-Massage-Therapie-KMT.JPG",
			alt: "Klassische Massage Therapie KMT",
		},
		copy: "Klassische Massage Therapie KMT",
	},
	{
		img: {
			src: "/kgfotos/Behandlungsmethoden/3-Schonendes-Loeseb-Von-Blockierungen-in-der-Wirbelsäule-nach-Vojta.JPG",
			alt: "Schonendes Lösen von Blockierungen in der Wirbelsäule nach Vojta",
		},
		copy: "Schonendes Lösen von Blockierungen in der Wirbelsäule nach Vojta",
	},
	{
		img: {
			src: "/kgfotos/Behandlungsmethoden/4-Verbesserung-des-Gangbildes-spinale-Läsionen-vor-und-nach-Bandscheiben-OP-nach-Vojta.JPG",
			alt: "Verbesserung des Gangbildes spinale Läsionen vor und nach Bandscheiben OP nach Vojta",
		},
		copy: "Verbesserung des Gangbildes spinale Läsionen vor und nach Bandscheiben OP nach Vojta",
	},
	{
		img: {
			src: "/kgfotos/Behandlungsmethoden/5-Vojta-Grifftechnik.JPG",
			alt: "Vojta Grifftechnik",
		},
		copy: "Vojta Grifftechnik",
	},
	{
		img: {
			src: "/kgfotos/Behandlungsmethoden/6-Schulterbehandlung.JPG",
			alt: "Schulterbehandlung",
		},
		copy: "Schulterbehandlung",
	},
	{
		img: {
			src: "/kgfotos/Behandlungsmethoden/7-Fußreflexzonen-Massage-nach-W.-Froneberg.JPG",
			alt: "Fußreflexzonen-Massage nach W. Froneberg",
		},
		copy: "Fußreflexzonen-Massage nach W. Froneberg",
	},
];

const bobathhandling: { img: { src: string; alt: string }; copy: string }[] = [
	{
		img: {
			src: "/kgfotos/Bobath-Handling/1-Bobath-Muschelgriff-um-den-Patienten-im-Bett-rueckenschonend-zu-bewegen.JPG",
			alt: "Schritt 1",
		},
		copy: "Erster Schritt:<br>Der Muschelgriff",
	},
	{
		img: {
			src: "/kgfotos/Bobath-Handling/2-Bobath-Rueckenschonendes-Handling-nach-Bobath-fuer-Angehoerige-und-Pflegepersonal.JPG",
			alt: "Schritt: 2",
		},
		copy: "Zweiter Schritt:<br>Die Schulter des Patienten fassen.",
	},
	{
		img: {
			src: "/kgfotos/Bobath-Handling/3-Bobath-rueckenschonendes-Handlung-Aufstehhilfe.JPG",
			alt: "Schritt 3"
		},
		copy: "Dritter Schritt:<br>Über die Schulter den Patienten auf die Seite drehen.",
	},
	{
		img: {
			src: "/kgfotos/Bobath-Handling/3-Bobath-rueckenschonendes-Handlung-Aufstehhilfe.JPG",
			alt: "Schritt 4",
		},
		copy: "Vierter Schritt:<br>Über die Schulter die Aufsteh-Bewegung einleiten und dabei die Hüfte des Patienten halten.",
	},
];

const title = "Physiotherapie Praxis Gerlinde Kozalla";
const description =
	"Wir sind spezialisiert auf Bobath, Vojta, sensorische Integration und Behandlung nach Schlaganfall.";
---

<BaseLayout
	title="Physiotherapie Praxis Gerlinde Kozalla"
	description={"Terminvereinbarung unter 04832 9273 " + description}
>
	<div class="stack gap-20 lg:gap-48">
		<div id="intro" class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero title={title} tagline={description} align="start">
					<div class="roles">
						<Pill
							><Icon
								icon="lightning"
								size="1.33em"
							/>Schmerztherapie</Pill
						>
						<Pill
							><Icon
								icon="island"
								size="1.33em"
							/>Entspannungstechniken</Pill
						>
						<Pill
							><Icon
								icon="house-line"
								size="1.33em"
							/>Hausbehandlungen</Pill
						>
					</div>
				</Hero>

				<img
					alt="Massage Stock Photo"
					width="480"
					height="620"
					src="/main-min.jpg"
				/>
			</header>

			<!-- <Skills /> -->
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section id="leistungen" class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Unsere Leistungen</h3>
				</header>

				<div class="section-content">
					<p class="section-copy">
						Ein kleiner Auszug aus meinem Leistungsportfolio:
					</p>

					<Grid>
						{
							behandlungsmethoden.map((methode) => (
								<ImageAndCopy
									img={methode.img}
									copy={methode.copy}
								/>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction
						style="max-width: calc(100vw - 3rem)"
						href="tel:004948329273"
					>
						Vereinbaren Sie einen Termin <Icon
							icon="phone"
							size="1.2em"
						/>
					</CallToAction>
				</div>
			</section>

			<section id="leistungen" class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Bobath Handling</h3>
				</header>

				<div class="section-content">
					<p class="section-copy">
						Die rückenschonende Aufsteh-Hilfe für
						Angehörige und Pflegepersonal.
					</p>

					<Grid>
						{
							bobathhandling.map((methode) => (
								<ImageAndCopy
									img={methode.img}
									copy={methode.copy}
								/>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction
						style="max-width: calc(100vw - 3rem)"
						href="tel:004948329273"
					>
						Vereinbaren Sie einen Termin <Icon
							icon="phone"
							size="1.2em"
						/>
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header
					id="kontakt"
					class="section-header stack gap-2 lg:gap-4"
				>
					<h3>Kontakt</h3>
				</header>
				<div class="section-content">
					<Contact />
				</div>
			</section>
		</main>

		<!-- <ContactCTA /> -->
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: "";
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url("/assets/backgrounds/noise.png") top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	.section-copy {
		font-size: var(--text-lg);
		margin-bottom: 24px;
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "header header header header" "content content content content";
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: "header header header cta" "content content content content";
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-content {
			grid-area: content;
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.leistung-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-50);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
		padding: 1rem;
		gap: 1rem;
		font-size: larger;
		max-width: calc(100vw - 3rem);
	}
</style>
